{{>header}}
<div class="container">
  <div class="mt-4">
    <div class="row">
      {{#each courses}}
        <div class="col-sm-6 col-lg-4">
          <div class="card my-3">
            <img
              class="card-img-top"
              src="{{this.imageUrl}}"
              alt="Card image cap"
            />
            <div class="card-body">
                <div class="d-flex justify-content-between
                ">
              <h5 class="card-title ">{{this.name}} </h5>
              <h6    class="" > <a href="#" style="text-decoration:none ;">
                ${{this.price}}
              </a> </h6>

                </div>
              <p class="card-text">{{this.description}}</p>
              <div class="card__btn row ">
                <div class="btn__left col-6 ">
                  <a href="#" class="btn btn-warning"> Add to cart <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  </a>
                </div>
                <div class="btn__right col-6  ">
                  <a href="/courses/{{this.slug}}" class="btn btn-primary w-100  "> Information
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>