

   <nav class="navbar navbar-expand-xl" style="background-color: #555; color:aliceblue">
      <div class="container h-100">
        <p class="navbar-brand" href="index.html" style="color:gray">
          <h4 class="tm-site-title mb-0" >Account Admin</h4>
        </p>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100 align-items-center">
            <li class="nav-item">
              <p class="" href="index.html">
                <i class="fas fa-tachometer-alt"></i> Dashboard
                <span class="sr-only">(current)</span>
              </p>
            </li>
            <li class="nav-item dropdown">
              <p
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="far fa-file-alt"></i>
                <span> Reports <i class="fas fa-angle-down"></i> </span>
              </p>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <p class="dropdown-item" href="#">Daily Report</p>
                <p  class="dropdown-item" href="#">Weekly Report</p>
                <p class="dropdown-item" href="#">Yearly Report</p>
              </div>
            </li>
            <li class="nav-item">
              <p class="nav-link active" href="products.html">
                <i class="fas fa-shopping-cart"></i> Products
              </p>
            </li>

            <li class="nav-item">
              <p class="nav-link" href="accounts.html">
                <i class="far fa-user"></i> Accounts
              </p>
            </li>
            <li class="nav-item dropdown">
              <p
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-cog"></i>
                <span> Settings <i class="fas fa-angle-down"></i> </span>
              </p>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Billing</a>
                <a class="dropdown-item" href="#">Customize</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <p class="nav-link d-block" href="/carts/logout">
                Admin, <b>Logout</b>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Account</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-8 col-lg-6 col-md-12">
                <form action="/carts/{{account._id}}?_method=PUT" class="tm-edit-product-form" method="POST">
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Email
                    </label>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      class="form-control validate"
                      placeholder="{{account.email}}"
                      required
                    />
                  </div>
                   <div class="form-group mb-3">
                    <label
                      for="price"
                      >Username 
                    </label>
                    <input
                      id="name"
                      name="price"
                      type="number"
                      class="form-control validate"
                          placeholder="{{account.username}}"
                  value="{{accounts.username}}"
disabled="disable"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="description"
                      >Password</label
                    >
                    <input
                      class="form-control validate"
                      
                      required
                          placeholder="*****"
                    ></input>
                  </div>
                    <div class="form-group mb-3">
                    <label
                      for="description"
                      >Role</label
                    >
                  <input
                      id="name"
                      name="role"
                      type="text"
                      class="form-control validate"
                      placeholder="{{account.role}}"
                      required
                    />
                  </div>
                 
                  
              </div>
              
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Save Account Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $("#expire_date").datepicker();
      });
    </script>
 

